.App {

}

.add-folder__wrapper{
  width: fit-content;
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 16px;
  border: 1px solid black;
  border-radius: 8px;
  position: absolute;
  background: #fff;


}

.folder-structure{
  padding: 10px;
}
